# .htaccess file for Symfony

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rediriger tout sauf les fichiers et répertoires existants
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon renvoyer vers index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
